p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	padding-inline-start: 0;
}

.note-body {
	padding-left: 2em;
	margin-top: 0.5em;
	text-indent: -2em;
}

.use-additional {
	padding-left: 2em;
	text-indent: -2em;
}

.code-len-3 { padding-left: 3.5em; }
.code-len-5 { padding-left: 5.5em; }
.code-len-6 { padding-left: 7.5em; }
.code-len-7 { padding-left: 9.5em; }
.code-len-8 { padding-left: 11.5em; }

.code {
	font-family: 'Consolas', monospace;
	font-size: 13pt;
}

.index-item:hover .copy {
	visibility: visible;
}

.copy {
	visibility: hidden;
	
	position: absolute;
	left: 1rem;

	margin-right: 1rem;
	width: 1.75rem;
	height: 1.75rem;

	background: url('/assets/img/clippy.svg');
	background-position: center center;
	background-repeat: no-repeat;
}

.truncated {
	text-align: center;
	background: #EEE;
}

.mark-github {
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.mark-github img {
	width: 50px;
	height: 50px;
}

.input-group-prepend > select {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
